.mycontent{
  padding-top: 20px;
  /* border-width: 0px; */
  color: lightblue;
}

.welcome{
  color: #00ccff;

}

.mnu{
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
}


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
